src/sound/*.wav
data/fishing_data/fishing_sequences/*.wav
src/*.wav
src/fishing_sequences
fishing_sequences/
src/ml/data2process/
data/fishing_data/fishing_caught_images/
*.npz
src/ml/*.npz
src/ml/*.pkl
src/*.png
src/bait_templates
src/screen_recordings
src/ml/labeled_data